<section class="add-faqs-section" id="{{ section.settings.id }}">
    <div class="container">
        <div class="title">
            <h2>{{ section.settings.title2 }}</h2>
        </div>
        <div class="add-faqs">
        {% for block in section.blocks %}
          <div class="block is-active">
              <div class="faqs-title {% if forloop.index == 1 %}is-active{% endif %}">
                  <p>{{ block.settings.title }}</p>
              </div>
              <div class="faqs-text {% if forloop.index == 1 %}is-active{% endif %}">
                  {{ block.settings.content }}
              </div>
          </div>
        {% endfor %}
        </div>
        <div class="end-text">
            {{ section.settings.tips }}
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Ona Subscription FAQ list",
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "ID"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "tips",
      "label": "Tips"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "max_blocks": 50,
  "presets": [
    {
      "name": "Ona Subscription FAQ list",
      "category": "Text"
    }
  ]
}
{% endschema %}
