<section class="about-text-image">
  <svg class="animated-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 605.6 542">
    <path class="start-2" d="M277.6,529.15c-85.5-6.73-169.5-46.52-218-117.29C8.08,336.55-21.73,233.24,19.11,151.61,57.33,75.21,162.3,76.88,242.27,46.84,301.47,24.6,356.34-7,419,1.38c72.32,9.68,154.66,29.53,188.28,94.29,33.09,63.77-7.08,137.71-33.11,204.68-22.19,57.07-53.94,106.59-102.42,144C413.63,489.19,350.8,534.92,277.6,529.15Z" fill="#BDD6E6"/>
    <path class="medium-2" fill-rule="evenodd" clip-rule="evenodd" d="M260.239 160.732C319.466 125.313 388.298 97.2948 448.338 101.049C505.641 104.631 526.933 152.542 567.05 179.914C607.817 207.729 675.253 215.403 685.039 262.551C694.988 310.486 653.024 367.748 616.632 418.807C581.914 467.516 537.662 511.603 482.823 546.259C425.295 582.615 361.497 615.358 299.583 619.169C237.346 623 183.088 602.231 149.793 566.757C119.059 534.012 131.36 481.129 126.739 435.012C122.07 388.408 98.3578 345.72 122.647 295.817C148.501 242.698 201.902 195.618 260.239 160.732Z" fill="#BDD6E6"/>
    <path class="end-2" fill-rule="evenodd" clip-rule="evenodd" d="M281.099 148.633C343.096 112.682 409.711 73.4863 473.386 71.2084C536.162 68.9627 578.423 102.101 612.116 136.792C642.065 167.628 644.093 212.409 652.148 255.266C661.078 302.782 689.814 346.991 661.607 400.129C632.362 455.222 567.434 500.336 503.902 534.54C442.361 567.673 376.559 583.154 313.75 587.41C251.01 591.661 187.606 588.83 149.191 558.575C111.69 529.039 115.985 475.46 110.865 427.621C105.595 378.382 86.6689 329.727 119.024 276.702C151.97 222.708 219.274 184.485 281.099 148.633Z" fill="#BDD6E6"/>
  </svg>
  <div class="container">
    <div class="text wowo fadeInUp">
      <div class="text-box">
        <h2>{{ section.settings.title2 }}</h2>
        <h3>{{ section.settings.title3 }}</h3>
        <p>{{ section.settings.content }}</p>
        <p><a href="{{ section.settings.button }}" class="a-link">Learn More</a></p>
      </div>
    </div>
    <div class="image wowo fadeInUp">
      <div class="img-bg">
        <svg width="340" height="306" viewBox="0 0 340 306" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="start-3" d="M11.7,267.21C-21.78,143.7,18.73,31.69,106,6.34c98.4-28.57,217.47,42.75,247.06,148,28.09,99.89-39.61,213.59-144.54,242.77C118.05,422.23,39.72,370.56,11.7,267.21Z" fill="#D0994D"/>
          <path class="medium-3" d="M112.16,320c-39-16.58-72.79-45.87-92.55-82.06C-.56,201-3.36,159.34,3.09,120.2,9.61,80.62,22.73,39.66,56,16.89,88.22-5.1,133.42,4.07,174.53,3,214,2,254-6.61,290.67,10.85c38.33,18.27,69.63,50.94,86,88.46,15.85,36.37,8.53,74.81,1.27,111.73-7.15,36.4-12.71,76.63-42.66,98.82-29.39,21.78-72.46,13.33-111,15.09C186.24,326.68,148.2,335.35,112.16,320Z" fill="#D0994D"/>
          <path class="end-3" fill-rule="evenodd" clip-rule="evenodd" d="M207.061 0.00147765C251.724 0.208909 292.165 21.1333 326.672 45.733C359.549 69.1699 384.929 99.6267 396.606 135.124C407.989 169.727 406.392 207.006 390.681 240.308C375.704 272.055 344.359 294.13 312.185 314.072C280.264 333.858 245.919 349.44 207.061 354.121C163.25 359.4 113.516 365.509 78.3398 342.246C43.3033 319.076 44.6332 274.517 31.5179 238.031C18.6046 202.108 -8.03745 167.385 2.35117 130.85C13.0099 93.3654 50.6853 67.5195 86.5147 44.6176C122.567 21.5731 162.279 -0.206502 207.061 0.00147765Z" fill="#D0994D"/>
        </svg>
      </div>
      <img src="{{ section.settings.image | img_url: '982x' }}" alt="">
    </div>
  </div>
</section>

{% schema %}
{
  "name": {
    "en": "Text & image"
  },
  "settings": [
    {
      "type": "text",
      "id": "title2",
      "label": {
		"en": "Title"
      }
    },
    {
      "type": "text",
      "id": "title3",
      "label": {
		"en": "Sub Title"
      }
    },
    {
      "type": "textarea",
      "id": "content",
      "label": {
		"en": "Content"
      }
    },
    {
      "type": "url",
      "id": "button",
      "label": {
		"en": "Button"
      }
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
		"en": "Image"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Text & image"
      },
      "category": {
        "en": "Text"
      }
    }
  ]
}
{% endschema %}